/* RESET WAJIB 🔥 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================= LAYOUT ================= */
.dashboard-wrapper {
  display: flex;
}

/* ================= SIDEBAR ================= */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100vh;

  background-color: #262626;

  display: flex;
  flex-direction: column;
  z-index: 2000;

  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.5);
}

/* ================= HEADER ================= */
.sidebar h2 {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;

  text-align: center;

  padding: 15px 10px;
  margin: 0;

  letter-spacing: 2px;
}

/* ================= MENU ================= */
.sidebar-menu {
  flex: 1;
  padding-top: 10px;
}

/* reset list */
.sidebar ul {
  list-style: none;
}

/* menu item */
.sidebar ul li {
  margin: 2px 0;
}

/* menu link */
.sidebar ul li a {
  display: block;

  padding: 12px 20px;
  margin: 4px 10px;

  text-decoration: none;
  color: #e0e0e0;

  font-size: 15px;
  border-radius: 8px;

  transition: all 0.25s ease;
}

/* hover */
.sidebar ul li a:hover {
  background: rgba(255, 255, 255, 0.08);
  color: #ffffff;
  transform: translateX(5px); /* 🔥 efek geser */
}

/* aktif */
.sidebar ul li a.active {
  background: #ffffff;
  color: #121212;
  font-weight: 600;
}

/* ================= LOGOUT ================= */
.logout-form {
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.logout-btn {
  width: 100%;
  border: none;
  background: none;

  padding: 12px 20px;

  font-size: 15px;
  color: #e0e0e0;

  text-align: left;
  cursor: pointer;

  border-radius: 8px;

  transition: all 0.25s ease;
}

/* hover logout */
.logout-btn:hover {
  background: rgba(255, 255, 255, 0.08);
  color: #ffffff;
  transform: translateX(5px);
}

.sidebar-menu-bottom a i {
  margin-right: 10px;
}

.sidebar-menu-bottom li a {
  display: block;

  padding: 12px 20px;

  text-decoration: none;
  color: #e0e0e0;

  font-size: 15px;
  border-radius: 8px;

  transition: all 0.25s ease;
}
.sidebar-menu-bottom li {
  list-style: none;
}

/* hover */
.sidebar-menu-bottom li a:hover {
  background: rgba(255, 255, 255, 0.08);
  color: #ffffff;
  transform: translateX(5px); /* 🔥 efek geser */
}

/* aktif */
.sidebar-menu-bottom li a.active {
  background: #ffffff;
  color: #121212;
  font-weight: 600;
}
